.CategoryBox {
  padding: 40px;
  .imageBox {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
.imageBox {
  cursor: pointer;
}
.imgItem {
  transition: 0.2s;
  transform: scale(0.96);
  &:hover {
    transform: scale(1);
  }
  // width: 30% !important;
}
